<html>
  <head>
    <meta charset="utf-8">
    <title>Dylan Wright's Blog</title>
    <script src="/production.js"></script>
    <script>
    $(function(){
      window.app = new App();
    });
    </script>

    <link rel="stylesheet" type="text/css" href="/styles/styles-min.css">
  </head>
  <body>
    <section id="header" class="col-md-12">
      <div id="logo"><a href="/">DS Wright</a></div>
      <div id="navigation">
        <div><a href="/">BLOG</a></div>
      </div>
    </section>
    <div id="body-container">
    </div>
    <section id="footer" class="col-md-12">
      <div id="social-links" class="clearfix">
        <div>Created by <!-- <a href="/dylan-wright"> -->Dylan Wright<!-- </a> --> - <a href="https://twitter.com/dswright88">twitter</a> - <a href="https://www.linkedin.com/in/dylanswright">linkedin</a> - <a href="https://github.com/dswright">github</a></div>
      </div>
      <div id="copyright">&copy;2015 ds-wright.com</div>
    </section>
  </body>
</html>

<script type="text/template" id="post">
  <div class="post">
    <div class="post-header">
      <div class="author-name">
        Dylan Wright
      </div>
      <div class="time-ago">
      <%- date %>
      </div>
    </div>
    <h3>
      <a href="/post/<%- id %>/<%- url %>/"><%- title %></a>
    </h3>
    <div class="post-image">
      <a href="/post/<%- id %>/<%- url %>/">
        <img src="<%- img %>" />
      </a>
    </div>
    <div class="post-summary">
      <a href="/post/<%- id %>/<%- url %>/"><%- lead %></a>
    </div>
    <div class="post-footer">
      <a href="/post/<%- id %>/<%- url %>/">
        <span class="continue-reading">
          continue reading
        </span>
      </a>
    </div>
  </div>
</script>

<script type="text/template" id="full-post">
  <div id="full-post-header">
    <div id="full-post-author">
      Dylan Wright
    </div>
    <div id="full-post-date">
      <%- date %>
    </div>
  </div>
  <h2>
    <%- title %>
  </h2>
  <div id="full-post-image">
    <img src="<%- img %>" width="100%" />
  </div>
  <div id="full-post-content">
    
  </div>
  <div id="full-post-footer">
  </div>
</script>

<script type="text/template" id="bio-template">
  <div class="sidebar-title">
    DYLAN WRIGHT
  </div>
  <div id="bio">
    <div id="headshot">
      <img src="/images/dylan-wright.jpg" />
    </div>
    <div id="self-summary">
      <p>
        Student at <a href="http://makersquare.com">MakerSquare</a>
      </p>
    </div>
  </div>
</script>

<script type="text/template" id="sidebar-categories">
  <div class="sidebar-title">FEATURED TAGS</div>
  <div id="category-cloud" class="clearfix">
  </div>
</script>

<script type="text/template" id="sidebar-posts">
  <div class="sidebar-title">POSTS</div>
  <div id="sidebar-posts"></div>
</script>

<script type="text/template" id="sidebar-post-title">
  <a href="/post/<%- id %>/<%- url %>/">
    <span class="sidebar-post-title">
       <%- title %>
    </span>
    <span class="sidebar-post-date">
      <%- date %>
    </span>
  </a>
</script>

<script type="text/template" id="sidebar-projects">
  <div class="sidebar-title">PROJECTS</div>
  <div id="sidebar-projects">
  </div>
</script>

<script type="text/template" id="sidebar-project">
  <div class="sidebar-project-caption">
    <div class="sidebar-project-caption-content">
      <a href="/project/<%- url %>/">
        <%- title %>
      </a>
    </div>
  </div>
  <img src="<%- image %>" />
</script>
