<html>
  <head>
    <meta charset="utf-8">
    <title>Dylan Wright's Blog</title>
    <script>console.log();</script>
    <script src="production.js"></script>
    <script>
    $(function(){
      window.app = new App();
    });
    </script>

    <link rel="stylesheet" type="text/css" href="/styles/styles-min.css">
  </head>
  <body>

    <section id="header" class="col-md-12">
      <div id="logo">DS Wright</div>
      <div id="navigation">
        <div>BLOG</div>
        <div>PROJECTS</div>
        <div>DYLAN WRIGHT</div>
      </div>
    </section>

    <div id="body-container">

    </div>

    </div>  
    <section id="footer" class="col-md-12">
      <div id="copyright"></div>
      <div id="backlink">Dylan Wright</div>
      <div id="social-links">
        <div>twitter</div>
        <div>linkedin</div>
        <div>github</div>
      </div>
    </section>
  </body>
</html>

<script type="text/x-handlebars-template" id="post-template">
  <div class="post">
    <div class="post-header">
      <div class="author-name">
        Dylan Wright
      </div>
      <div class="time-ago">
        3 days ago
      </div>
    </div>
    <div class="post-title">
      Building a Node Server from scratch!
    </div>
    <div class="post-image">
      <img src="../images/posts/code-sn.png" />
    </div>
    <div class="post-summary">
      The summary of the article will go here.
    </div>
    <div class="post-footer">
      <span>continue reading</span>
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="bio-template">
  <div class="sidebar-title">
  DYLAN WRIGHT
  </div>
  <div id="bio">
    <div id="headshot">
      <img src="../images/dylan-wright.png" />
    </div>
    <div id="self-summary">
      <p>
        Learn more about <span id="bio-link">Dylan Wright</span>
      </p>
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="sidebar-categories">
  <div class="sidebar-title">FEATURED TAGS</div>
  <div id="category-cloud" class="clearfix">
    <div class="category-link">Javascript</div>
    <div class="category-link">Sample Tag</div>
    <div class="category-link">Programming Etiquette</div>
    <div class="category-link">Breaking line</div>           
  </div>
</script>

<script type="text/x-handlebars-template" id="sidebar-posts">
  <div class="sidebar-title">POSTS</div>
  <div id="sidebar-posts">
    <div class="sidebar-post">
      <div class="sidebar-post-title">
        Sample Post Title
      </div>
      <div class="sidebar-post-date">
        August 19th, 2015
      </div>
    </div>
    <div class="sidebar-post">
      <div class="sidebar-post-title">
        Sample Post Title
      </div>
      <div class="sidebar-post-date">
        August 19th, 2015
      </div>
    </div>
    <div class="sidebar-post">
      <div class="sidebar-post-title">
        Sample Post Title
      </div>
      <div class="sidebar-post-date">
        August 19th, 2015
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="sidebar-projects">
  <div class="sidebar-title">PROJECTS</div>
  <div id="sidebar-projects">
    <div class="sidebar-project">Sample Project</div>
    <div class="sidebar-project">Sample Project</div>
  </div>
</script>