:global(.root-body) {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.profilePic {
  max-width: 75px;
  border-radius: 50%;
  border: 5px solid gainsboro;
  width: 100%;
  vertical-align: middle;
}

.intro {
  max-width: 700px;
}

.card {
  opacity: 0.8;
  &:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
  }
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.headerWrapper {
  margin-left: auto;
  @media (max-width: 768px) {
    margin-left: auto;
    margin: auto;
  }
}
